@CHARSET "utf-8";

h1 {
	color: #1E90FF;
	text-align: left;
	margin-left: 5%;
}

.album-table {
	margin: 0 auto;
	width: 95%
}

.news-td {
	height: 36px;
	border-bottom: 1px solid #ddd;
}

td:hover {
	opacity:0.6;
}

a {
	text-decoration: none
}

img {
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 50px;
}

#jpg {
	width: 15px;
	height: 15px
}

.nbutton-span {
	display: inline;
	margin-left: 9.5%;
}

form {
	display: inline-block;
	margin: 0 auto;
}

.enterdiv {
	white-space: normal
}

.target { /* 한 줄 자르기 */
	text-align: center;
	display: inline-block;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight:bold
}

select {
	width: 120px;
	height: 34px;
	padding-left: 10px;
	font-size: 18px;
	color: #006fff;
	border: 1px solid #006fff;
	border-radius: 3px;
	vertical-align: middle;
}

input[type=text] {
	width: 200px;
	height: 30px;
	padding-left: 10px;
	font-size: 18px;
	color: #006fff;
	border: 1px solid #006fff;
	border-radius: 3px;
	vertical-align: middle;
}

input[type=submit] {
	width: 50px;
	height: 35px;
	font-size: 16px;
	color: white;
	background-color: #56697c;
	border: 1px solid #006fff;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}

#searchForm {
	margin-left:54%;
	height:60px;
}

.nbutton3 {		/* 글쓰기 버튼 */
	width: 120px;
	height: 30px;
	padding-left: 10px;
	font-size: 18px;
	color: #006fff;
	border: 1px solid #006fff;
	border-radius: 3px;
	background-color: white;
	cursor:pointer;
}

.nbutton1 {	/* 앨범,리스트 선택버튼 */
	width: 120px;
	height: 30px;
	padding-left: 10px;
	font-size: 18px;
	color: #006fff;
	border: 1px solid #006fff;
	border-radius: 3px;
	background-color: white;
	cursor:pointer;
}

a.top {		/* 상단스크롤바 */
	position: fixed;
	left: 45%;
	bottom: 80px;
	display: inline-block;
}
.du{		/* 상단스크롤바 이미지 */
	width:100px;
	height:50px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 106px;
  right: 50%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b9b9b9;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  
}

#myBtn:hover {
  background-color: #555;
}