@charset "UTF-8";
.title{
	background-color:rgb(30,144,255); 
	height:30px; 
	}
textarea{
	width:100%;
}
td:nth-child(1){width:15%;    background-color: #f1f1f1;}
#vname{
	width:100%;
}
#vbsub{
	width:100%;
}
#vpass{
	width:100%;
}
#vid{
	width:100%;
}
#table{
	border-bottom: 3px solid #168; 
	margin:auto;  
	width:81%;
}
#center{
	text-align:center;
}

#qav_head {
    background: url(images/modal-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #dedede;
    color: white;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
}
.vbo_head {
    position: relative;
    padding: 0 0 10px;
    width: auto;
    border-bottom: 1px solid #eceff3;
    line-height: 1.5em;
    margin-bottom: 10px;
}